body, input {
  font-family: 'Open Sans', sans-serif;
}

.contact-list-form-wrap {
  max-width: 500px;
  margin: 0 auto;
}

.contact-list-form-wrap .form-field {
  padding: 5px;
  clear: both;
}

.contact-list-form-wrap label {
  width: 40%;
  float: left;
}

.contact-list-form-wrap .form-field:not(.form-field-categories) input {
  width: 60%;
  float: left;  
}

.contact-list-form-field-required {
  display: none;
}

.contact-list-form-submit {
  margin-top: 1rem;
}

h3 {
  margin-bottom: 0;
}

hr.clear {
  background: none;
  border: 0;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
